@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 98%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 98%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 3% 13.12%;
    --foreground: 0 0% 88.4%;
    --card: 210 3% 15.12%;
    --card-foreground: 0 0% 88.4%;
    --popover: 210 3% 15.12%;
    --popover-foreground: 0 0% 88.4%;
    --primary: 0 0% 88.4%;
    --primary-foreground: 210 5.9% 18%;
    --secondary: 210 3.7% 22.72%;
    --secondary-foreground: 0 0% 88.4%;
    --muted: 210 3.7% 22.72%;
    --muted-foreground: 210 5% 61.92%;
    --accent: 210 3.7% 22.72%;
    --accent-foreground: 0 0% 88.4%;
    --destructive: 0 62.8% 34.48%;
    --destructive-foreground: 0 0% 88.4%;
    --border: 210 3.7% 22.72%;
    --input: 210 3.7% 22.72%;
    --ring: 210 4.9% 77.12%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#skills a {
  text-decoration: underline !important;
  text-underline-offset: 2px;
  text-decoration-thickness: auto !important;
}
